@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-dark-200: #475467;
}

main {
    @apply min-h-screen pt-10;
}
h1 {
    @apply max-sm:text-[3rem] text-6xl leading-tight xl:tracking-[-2px] font-semibold;
}

h2 {
    @apply max-sm:text-xl text-3xl text-dark-200;
}

label {
    @apply text-dark-200;
}
input {
    @apply w-full p-4 rounded-lg focus:outline-none bg-white;
}

textarea {
    @apply w-full p-4 rounded-lg focus:outline-none bg-white;
}

form {
    @apply flex flex-col items-start gap-8 w-full;
}

@utility bg-gradient {
    background: linear-gradient(
        to bottom,
        #fff,
        #b4d1dd,
        #9fc5d3,
        #74abc0,
        #4a8aae,
        #2b6a9c
    );
}

@utility page-container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 2xl:px-[15%];
}

@utility primary-gradient {
    background: linear-gradient(to bottom, #b4d1dd, #2b6a9c);
}

@layer components {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-[#b4d1dd] via-[#000000] to-[#2b6a9c];
    }

    .btn-primary {
        @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
    }
}
